
.login-box {
    position: relative;
    width: 40%;
    margin: auto;
    color: #fff;
    text-align: center;
    margin-top: 10%;
}
p.title {
    font-size: 41px;
    font-weight: 700;
}
button.btn.btn-primary.searchBtn {
    position: relative;
    top: -37px;
    float: right;
}
.form-text{
    color: red;
}